body {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

body, .container-fluid, .row {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: 24px;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 20px 20px 0px 20px;
}

.tagline {
  margin: 0px 0px 6px 36px;
  font-size: 12px;
  font-weight: 600;
}

.title {
  position: absolute;
  padding: 2px 10px;
  background-color: rgb(127, 241, 226);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.what {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.how {
  border-bottom: 1px solid black;
}

.service_list {
  padding: 60px 0px;
}

h1 {
  text-align: left;
  font-size: 70px;
}

p {
  break-after: column;
  font-size: 16px;
}

.how_text {
  width: 600px;
  padding: 60px 0px;
  text-align: justify;
  column-count: 2;
  column-gap: 70px;
}

.third {
  width: 30%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.fourth {
  width: 70%;
  border-bottom: 1px solid black;
}

.portrait_1 {
  border: 5px solid rgb(127, 241, 226);
}

.portrait_2 {
  border-left: 5px solid rgb(127, 241, 226);
}

.about_text {
  width: 500px;
  padding: 60px 0px;
  text-align: justify;
}