body {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

body, .container-fluid, .row {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: 28px;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 20px 20px 0px 20px;
}

.tagline {
  margin: 6px 0px 6px 36px;
  font-size: 12px;
}

.light {
  color: gray;
}

.title {
  position: absolute;
  padding: 2px 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.white {
  background-color: white;
  color: black;
}

.blue, .what, .services {
  background-color: rgb(127, 241, 226);
}

.what {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.how {
  border-bottom: 1px solid black;
}

h1 {
  text-align: left;
  font-size: 80px;
}

p {
  break-after: column;
  font-size: 16px;
}

.how_text {
  width: 600px;
  padding: 60px 0px;
  text-align: justify;
  column-count: 2;
  column-gap: 70px;
}

.third {
  width: 30%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.fourth {
  width: 70%;
  border-bottom: 1px solid black;
}

.portrait_1 {
  border: 5px solid rgb(127, 241, 226);
}

.portrait_2 {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.about_text {
  width: 500px;
  padding: 60px 0px;
  text-align: justify;
}

.service_wrapper {
  padding: 60px 100px;
  column-count: 2;
  column-gap: 70px;
}

.service_list {
  border: 1px solid black;
  background-color: white;
  padding: 20px 40px;
  break-after: column;
}

.services {
  border-bottom: 1px solid black;
}

.contact {
  padding: 60px;
  text-align: center;
}

.contact a {
  color: rgba(0, 0, 0, 0.5);
}

.contact a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}