body {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

body, .container-fluid, .row {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: 0px;
}

.logo {
  height: 140px;
  width: 140px;
  margin: 20px 20px 0px 20px;
}

.closing_logo {
  height: 140px;
  width: 140px;
  margin: 60px;
}

.tagline {
  margin: 20px 0px 6px 20px;
  font-size: 12px;
}

.light {
  color: gray;
}

.title {
  font-size: 18px;
  position: absolute;
  margin: 20px 40px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.subtitle {
  font-style: italic;
  color: black;
}

.white {
  background-color: white;
  color: black;
}

.blue, .content {
  background-color: rgb(176, 235, 233);
}

.declaration_container {
  padding: 50px 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0px;
}

img {
  break-after: column;
}

.portrait {
  width: 275px;
  border: 5px solid rgb(176, 235, 233);
}

p {
  font-size: 16px;
  break-after: column;
}

.marbled {
  background-image: url("images/marble.jpg");
  background-repeat: repeat;
}

.section_0 {
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.section_1 {
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_2 {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.section_3 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_4 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_5 {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(220, 220, 220);
}

.section_6 {
  border-bottom: 1px solid rgb(240, 240, 240);
  background-repeat: repeat;
}

.section_7 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_8 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_9 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_10 {
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 60px;
  text-align: center;
  font-size: 20px;
}

.section_10 a {
  color: rgba(0, 0, 0, 0.5);
}

.section_10 a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.section_11 {
  text-align: center;
}

.section_12 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.what, .how {
  padding: 70px 40px 30px 40px;
}

.portrait_container {
  padding: 60px 40px;
}

.about_content {
  width: 540px;
  padding: 80px 20px 60px 20px;
}

.services {
  padding: 100px 40px 60px 40px;
}

.services:not(:last-child) {
  margin-bottom: 30px;
}

.service_name {
  color: black;
  text-align: center;
}

.service_description {
  color: grey;
  font-size: 14px;
  padding: 6px 14px;
  text-align: center;
}

.colleges {
  padding: 40px 20px;
  line-height: 1.5;
}

.college {
  padding: 0 6px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 14px;
}

.light_background {
  background-color: rgb(240, 240, 240);
}

.light_background:hover {
  background-color: rgb(234, 234, 234);
}

.medium_background {
  background-color: rgb(161, 161, 161);
  color: white;
}

.dark_background {
  background-color: rgb(176, 235, 233);
}

.accent_background {
  background-color: #ebbeb0;
  color: white;
}

.very_dark_background {
  background-color: rgb(40, 40, 40);
  color: white;
}

.white_text {
  color: white;
}

.no-italics {
  font-style: normal;
}

.caption {
  margin: 10px 0px;
  text-align: right;
  font-size: 12px;
}

.testimonial {
  padding: 40px;
  text-align: center;
  background: white;
  z-index: 0;
}

.testimonial_1 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.testimonial_2 {
  border-left: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.testimonial_3 {
  border-left: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.testimonial_4 {
  border-left: 1px solid rgb(240, 240, 240);
}

.testimonial_5 {
  border-left: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.statement {
  max-width: 340px;
  padding: 0px 20px 14px 20px;
  font-style: italic;
}

.card {
  width: 240px;
  padding: 8px 0px;
  margin: 30px 40px;
  text-align: center;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2px;
}

.card:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
}

.card:nth-of-type(odd):hover {
  background-color: rgb(234, 234, 234);
}

.card:nth-of-type(even):hover {
  background-color: rgb(250, 250, 250);
}

.testimonials .card {
  text-align: left;
  padding: 6px;
}

.card .college {
  margin: 2px;
}

blockquote {
  margin: 8px;
  padding: 0px 4px;
}

.author {
  text-align: right;
  border-radius: 2px;
  margin: 2px;
  padding: 0 6px;
}

#switch-languages {
  width: 24px;
  height: 24px;
  margin: 14px;
}

#switch-languages:focus {
  outline:0;
}

@media (max-width: 768px) {

  .section_0 {
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-right: none;
  }

  .section_1 {
    border-top: none;
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .section_2 {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: none;
  }

  .section_3 {
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .section_4 {
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .section_5 {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: none;
  }

  .section_12 {
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .tagline {
    text-align: center;
    margin: 20px 0px 6px 0px;
    width: 180px;
    white-space:normal;
    word-wrap: break-word;
  }

  .nav-link {
    text-align: center;
  }

  .navbar-brand {
    text-align: center;
    margin-top: 50px;
  }

  .what, .how {
    padding: 60px 40px 20px 40px;
  }

  .colleges {
    padding: 40px 40px;
    text-align: center;
  }

  .testimonials {
    padding: 60px 0px 20px 0px;
  }

 .testimonial_1 {
    border-left: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-top:60px;
  }

  .testimonial_2 {
      border-left: none;
      border-bottom: 1px solid rgb(240, 240, 240);
    }

  .testimonial_3 {
      border-left: none;
      border-bottom: 1px solid rgb(240, 240, 240);
    }

  .testimonial_4 {
      border-left: none;
      border-bottom: 1px solid rgb(240, 240, 240);
    }

  .testimonial_5 {
      border-left: none;
      border-bottom: none;
  }

  .portrait_container {
    padding: 40px 40px;
  }

  .about_content {
    padding: 60px 40px 20px 40px;
  }

  .services {
    padding: 130px 40px 20px 40px;
  }

  .card {
    margin: 20px;
  }

  #switch-languages {
    width: 100%;
    margin: 14px 0px;
  }

  .caption {
    text-align: center;
  }

}
