body {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

body, .container-fluid, .row {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: 28px;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 20px 20px 0px 20px;
}

.tagline {
  margin: 20px 0px 6px 20px;
  font-size: 12px;
}

.light {
  color: gray;
}

.title {
  position: absolute;
  margin: 20px 36px;
  color: rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-style: italic;
  color: black;
}

.white {
  background-color: white;
  color: black;
}

.blue, .content {
  background-color: rgb(176, 235, 233);
}

.declaration_container {
  padding: 20px 30px;
}

.profile_container {
  margin: 30px 30px;
}


h1 {
  text-align: center;
  font-size: 60px;
}

img {
  break-after: column;
}

.profile {
  width: 130px;
  border-radius: 50%;
  border: 3px solid rgb(176, 235, 233);
  margin: 0px 20px;
}

.portrait {
  width: 275px;
  border: 5px solid rgb(176, 235, 233);
}

p {
  font-size: 16px;
  break-after: column;
}

.section_0 {
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.section_1 {
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_2 {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.section_3 {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.section_4 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_5 {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.section_6 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_7 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_8 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.section_9 {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.colleges {
  padding: 60px 40px;
}

.what, .how {
  padding: 80px 40px 60px 40px;
}

.portrait_container {
  padding: 60px 40px;
}

.about_content {
  width: 500px;
  padding: 80px 40px 60px 40px;
}

.services {
  padding: 100px 40px 60px 40px;
}

.services:not(:last-child) {
  margin-bottom: 30px;
}

.service_name {
  color: black;
  text-align: center;
}

.service_description {
  color: grey;
  font-size: 14px;
  padding: 6px 14px;
  text-align: left;
}

.contact {
  padding: 60px;
  text-align: center;
  font-size: 20px;
}

.contact a {
  color: rgba(0, 0, 0, 0.5);
}

.contact a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.college {
  padding: 0 6px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 14px;
}

.card .college {
  margin: 2px 0px 2px 2px;
}

.testimonials .card {
  width: 350px;
}

.light_background {
  background-color: rgb(240, 240, 240);
}

.dark_background {
  background-color: rgb(176, 235, 233);
}

.accent_background {
  background-color: #ebbeb0;
}

.very_dark_background {
  background-color: rgb(40, 40, 40);
  color: white;
}

.caption {
  margin: 10px 0px;
  text-align: right;
  font-size: 12px;
}

.testimonials {
  padding: 80px 40px 60px 40px;
}

.card {
  width: 240px;
  padding: 8px 0px;
  margin: 30px 40px;
  text-align: center;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 2px;
}

.card:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
}

blockquote {
  padding: 0px;
  margin: 8px;
}

.author {
  display: inline-block;
  text-align: right;
  padding: 0 6px;
  border-radius: 2px;
  margin: 2px 2px;
}

.testimonial {
  padding: 4px 10px;
}

@media (max-width: 768px) {

  .section_0 {
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: none;
  }
  
  .section_1 {
    border-top: none;
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .section_2 {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: none;
  }
  
  .section_3 {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: none;
  }
  
  .section_4 {
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .section_5 {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: none;
  }

  .tagline {
    text-align: center;
    margin: 20px 0px 6px 0px;
  }

  .nav-link {
    text-align: center;
  }

  .navbar-brand {
    text-align: center;
    margin-top: 50px;
  }

  .what, .how {
    padding: 60px 40px 20px 40px;
  }

  .colleges {
    padding: 40px 40px;
  }

  .testimonials {
    padding: 60px 40px 20px 40px;
  }

  .portrait_container {
    padding: 40px 40px;
  }

  .about_content {
    padding: 60px 40px 20px 40px;
  }

  .services {
    padding: 100px 40px 20px 40px;
  }

}